html, body {
  height: 100%;
  width: 100%;
  
  background-color: #303030;
  color: #1b29ee;
}

ul {
  color:#a1a1a1
}

li {
  display: list-item;
  font-family: sans-serif;
  font-size: 30px;
  width: fit-content;
}

ul li ol li{
  color:#c2c2c2;
}

a {
  color:#ababab;
  text-decoration: none;
}
a:visited {
  color:#a1a1a1;
}
a:hover {
  color:#bfbfbf;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
}

img {
  display: block;
  margin-right: auto;
  width: 50%;
}

#mainPage {
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
}

#pageLinks {
  color:#16923f;
  text-align: center;
  list-style-position: inside;
  margin-left: 30%;
  font-size: 100px;
  font-family: sans-serif;
}